<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="AWSAccessKey" value="AKIAJJECVLWYTLGGFV6A"/>
		<add key="AWSSecretKey" value="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"/>
	</appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
